<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">	

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>		
		
	<typeAliases>
	
		<typeAlias type="com.application.FrontToBack.member.dto.MemberDTO"   alias="MemberDTO"/>
		
		<typeAlias type="com.application.FrontToBack.knowledgeBoard.dto.KnowledgeDTO" alias="KnowledgeDTO"/>
		<typeAlias type="com.application.FrontToBack.knowledgeBoard.dto.KnowledgeReplyDTO" alias="KnowledgeReplyDTO"/>
		
		<typeAlias type="com.application.FrontToBack.qnaBoard.dto.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="com.application.FrontToBack.qnaBoard.dto.QnaReplyDTO" alias="QnaReplyDTO"/>
		
		<typeAlias type="com.application.FrontToBack.studyBoard.dto.StudyDTO" alias="StudyDTO"/>
		<typeAlias type="com.application.FrontToBack.studyBoard.dto.StudyReplyDTO" alias="StudyReplyDTO"/>
		
		<typeAlias type="com.application.FrontToBack.bookBoard.dto.BookDTO" alias="BookDTO"/>
		<typeAlias type="com.application.FrontToBack.bookBoard.dto.BookReplyDTO" alias="BookReplyDTO"/>
	</typeAliases>		
		
</configuration>